.btn-prod{
    text-transform: none;
    height: 80px;
    width: 80px;
    padding: 10px 10px 8px;
    p{
        margin: 0;
    }
}
.btn-prod .stock{
    width: 2em; 
    height: 2em; 
}
.prod{
   
    height: 550px;
    overflow-y: auto;
}